.property-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 16px;
  }
  
  .main-image {
    min-width: 600px;
    height: 80%;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 10px;
    width: 80%;
  }
  
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 81%;
    margin-top: 32px;
  }
  
  .thumbnails img {
    width: 120px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
  }

  @media (max-width: 1145px) {
    .property-images {
        width: 100%;
    }
  }
  