.searchbar-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px;
}

select {
    width: 100%;
    min-width: 180px;
    margin: 8px;
    box-sizing: border-box;
}

.searchbar-container h3 {
    margin-left: 16px;
    font-weight: 500;
}
