.cities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -64px 0 64px 0;
}

.cities-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.all-cities-card {
    width: 300px;
    border: solid 1px rgb(184, 184, 184);
    border-radius: 16px;
    padding: 16px;
    margin: 12px;
    color: black;
    text-align: center;
}

.all-cities-card:hover {
  background-color: #3A5295;
}

.all-cities-card:hover h3 {
  color: white;
}
