.banner-container {
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.banner-slogan {
    margin-bottom: 32px;
    word-wrap: none;
    position: absolute;
    text-align: center;
    color: white;
    max-width: 500px;
}
