.city-grid {
    background-color: aqua;
    width: 120vh;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; */
  }
  
  /* .city-grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .city-grid-item img {
    max-width: 100%;
    height: auto;
  }
   */