.footer-container {
    display: flex;
    background-color: black;
    position: absolute;
    bottom: -1;
    width: 100%;
    height: 80px;
    color: gray;
    align-content: center;
}

.footer-content {
    display: flex;
    margin-left: 48px;
    font-size: 14px;
}