.city-card-link {
  text-decoration: none;
  font-weight: 500;
}

.city-card-link-white {
  color: white;
}

.city-card-link-white:hover {
  color: white;
}

.city-card-link-black {
  color: black;
}

.city-card-link-black:hover {
  color: white;
}
