.nav-container {
    background-color: #00a2e1;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 8px 24px;
    align-items: center;
    color: white;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
  }
  
  .nav-list li {
    display: flex;
    align-items: center;
    margin: 8px;
  }
  
  .nav-icon {
    margin: 2px 4px;
  }
  
  .logo {
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .icon-logo {
    margin-right: 8px;
  }
  
  .contact-us {
    cursor: pointer;
  }

  .contact-us, .shortlist {
    display: flex;
  }
  
  /* Hamburger menu */
  .hamburger-menu {
    display: none;
  }
  
  .hamburger-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  .menu-items {
    display: none;
  }
  
  .menu-items li {
    list-style-type: none;
  }
  
  .expanded-header {
    height: auto;
    padding-bottom: 8px;
  }
  
  @media (max-width: 400px) {
    .nav-list {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .hamburger-icon {
      cursor: pointer;
    }
  
    .menu-items {
      display: none;
    }
  
    .menu-items li {
      margin: 8px 0;
    }

    .menu-items.visible {
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
  }
  