.nav-container {
    background-color: #00a2e1;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 24px;
    align-items: center;
    color: white;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    display: flex;
    align-items: center;
    margin: 8px;
}

.nav-icon {
    margin: 4px;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.icon-logo {
    margin-right: 8px;
}

.contact-us {
    cursor: pointer;
}