/* CityDetails.css */

.properties-wrapper, .student-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .homes-in-city {
    margin: -36px 0 36px 0;
    font-weight: 500;
  }
  
  .properties-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
  }
  
  .property-details-container {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  }
  
  .property-details-container img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
  
  .property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: #3A5295;
    color: white;
    margin: 0;
    padding: 12px;
  }

  .property-type{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    margin: 8px;
  }  

  .price h4 {
    font-weight: 500;
  }

  .bedroom-bathroom {
    display: flex;
  }

  .bedroom, .bathroom {
    display: flex;
    margin: 0 8px;
  }

  .property-type-container {
    min-height: 80px;
    margin: 24px 12px -12px 12px;
  }

  .location {
    display: flex;
    margin: 16px 0 8px 8px;
    font-size: 12px;
  }
  
  .view-home {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    font-weight: bold;
    padding: 12px;
    color: black;
  }

  .view-home h4 {
    margin: 3px 0 0 3px;
    font-weight: 300;
  }
  
  .student-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 12px;
    margin: 32px 0;
    border-radius: 16px;
    width: 100%;
  }
  
  .student-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 50%;
    min-height: 250px;
    padding: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 300;
  }
  
  .student-image {
    width: 500px;
    margin: 16px;
  }
  
  @media screen and (max-width: 970px) {
    .student-container {
      flex-direction: column;
    }

    .student-info {
      max-width: 80%;
    }
  }

    @media screen and (max-width: 730px) {
      .student-image {
        width: 75%;
      }
    }