.contact-container {
    background-color: #00A2E1;
    display: flex;
    justify-content: space-around;
    height: 250px;
    padding: 32px;
    color: white;
}

.contact-container p {
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 12px;
}

.footer-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: absolute;
    bottom: -1;
    width: 100%;
    height: 80px;
    color: gray;
    align-content: center;
}

.footer-content {
    display: flex;
    margin: 0 48px;
    font-size: 14px;
}

.footer-content li {
    list-style: none;
    margin: 12px;
}

.email-input {
    height: 40px;
    border-radius: 12px;
    border: none;
}

.socialize {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.social-icon {
    display: flex;
}

.social-name {
    margin-left: 8px;
}

.copyright {
    display: flex;
    margin: 0 48px;
}

.copyright p {
    margin: 12px;
}