

.bedroom-prices-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.bedroom-prices {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.bedroom-prices:last-child {
  border-bottom: none;
}
