.components {
    display: flex;
    margin: 16px;
}

.more-home-details {
     display: flex;
     margin: 16px;
}

.key-features {
    margin: 64px 0;
}

.description {
    width: 60%;
    margin: 16px;
}

.bedrooms {
    margin: 16px 16px 16px 32px;
    width: 50%;
}

@media (max-width: 1110px) {
    .home-details-container {
        align-items: center;
    }

    .components,
    .more-home-details {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .description,
    .bedrooms {
        width: 90%;
        margin: 16px 0;
    }
}
