.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.banner-image {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.banner-slogan {
    margin-bottom: 32px;
    word-wrap: none;
    position: absolute;
    text-align: center;
    color: white;
    max-width: 500px;
    font-weight: 300;
}

.banner-slogan h1 {
    font-weight: 500;
}

@media (max-width: 400px) {
  .banner {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .banner-image {
    height: 180px;
  }

  .banner-slogan {
    max-width: 90%;
    margin-bottom: 16px;
    font-size: 12px;
  }

  .banner-slogan h1 {
    font-size: 24px;
  }
}
